a {
    border-bottom: none !important;
}
.card {
    margin-top: 1em;
}
.jumbotron {
    margin-top: 1em;
}
.list-group {
    margin-top: 1em;
}
.list-group-item {
    padding-bottom: 0.3rem;
}
.badge {
    padding-bottom: 0;
}
.table td {
    padding: 2px 0;
}
.td-numeric {
    text-align: end;
}

.bg-application {
    background: #8FB847;
    color: #FFFFFF;
}

.bg-archive {
    background: #1fa32a;
    color: #FFFFFF;
}

.bg-audio {
    background: #009CD8;
    color: #FFFFFF;
}

.bg-video {
    background: #DC7D6C;
    color: #FFFFFF;
}

.bg-text {
    background: #E19A36;
    color: #FFFFFF;
}

.bg-image {
    background: #998AB5;
    color: #FFFFFF;
}
.vim-caret {
    -webkit-animation: vimCaret 1s linear infinite;
    -o-animation: vimCaret 1s linear infinite;
    animation: vimCaret 1s linear infinite; }

.prev-img {
    width: 100%;
    max-width: 250px;
    height: 100%;
}

.prev-icon {
    cursor: pointer;
}
@-webkit-keyframes vimCaret {
    0% {
        background-color: transparent; }
    49% {
        background-color: transparent; }
    50% {
        background-color: rgba(255, 255, 255, 0.6); }
    100% {
        background-color: rgba(255, 255, 255, 0.6); } }

@-o-keyframes vimCaret {
    0% {
        background-color: transparent; }
    49% {
        background-color: transparent; }
    50% {
        background-color: rgba(255, 255, 255, 0.6); }
    100% {
        background-color: rgba(255, 255, 255, 0.6); } }

@keyframes vimCaret {
    0% {
        background-color: transparent; }
    49% {
        background-color: transparent; }
    50% {
        background-color: rgba(255, 255, 255, 0.6); }
    100% {
        background-color: rgba(255, 255, 255, 0.6); } }

mark {
    background-color: rgba(255, 255, 0, 0.4);
    border-radius: 0;
    padding: 1px 0;
}
body {
    color: #BBBBBB;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background-image: url(/static/img/bg.png);
}

.card {
    background-color: #36393e;
    border: 3px double #262626;
}

.navbar {
    background: #36393e;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.navbar-brand {
    border: none;
}

.nav-link {
    color: #616161;
    border-bottom: 2px solid #6c6c6c;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
    border-color: #b3b3b3;
    color: #E6E6E6;
}

.nav-link:hover {
    color: #c7c7c7;
}

.jumbotron {
    background: #36393e;
}

a {
    color: #fff;
    border-bottom: 1px dotted #e0e0e0;
}

a:hover {
    color:#ddd;
    text-decoration: none;
}

.table a {
    border: none;
}

.table th, .table td {
    border-top: 1px solid #666a6e;
}

.table thead th {
    border-bottom: 2px solid #999da1;
}
.form-control {
    background-color: #2f3136;
    color: inherit;
    border: 1px solid #282b30;
}

.form-control:focus {
    background-color: #2f3136;
    border-color: #80bdff;
    color: inherit;
}

.input-group-text {
    border: 1px solid #282b30;
    background-color: #686d75;
    color: #e9ecef;
}

.nav-tabs .nav-link {
    border-color: transparent;
}

.nav-tabs .nav-link.active {
    border-color: #8e9296 #8e9296;
    background-color: transparent;
    color: #E6E6E6;
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef transparent #e9ecef;
}

.card-header-tabs {
    border-bottom: 1px solid #a1a5a9;
}

* {
    outline: none;
}

#sizeSlider {
    width: 100%;
}

.irs-single, .irs-from, .irs-to {
    font-size: 13px;
}

.irs-slider {
    cursor: col-resize;
}

.custom-select {
    overflow: auto;
}

.irs {
    margin-bottom: 1em;
}

.github-banner {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

@media (max-width: 990px) {
    .github-banner {
        display: none;
    }
}