{% extends "layout.html" %}
{% set title = "Admin login - OD-Database" %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">Admin login</div>
            <div class="card-body">
                <form action="/login" method="post">

                    <div class="form-group">
                        <input class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>

                    {% if show_captcha %}
                        {{ recaptcha.get_code()|safe }}
                    {% endif %}

                    <input type="submit" value="Login">

                </form>
            </div>
        </div>
    </div>
{% endblock body %}
