{% extends "layout.html" %}
{% set current_page = "contribute" %}

{% block body %}
    <div class="container">
    <div class="card">
        <div class="card-header">How to contribute</div>
        <div class="card-body">
            <p>Fork on <a href="https://github.com/simon987/od-database">GitHub</a> or create an issue</p>
            <p>Or <a href="/submit">submit a website</a></p>
            <p>You can also contact me <a href="https://reddit.com/message/compose?to=Hexahedr_n">on Reddit</a></p>
        </div>
    </div>
    </div>
{% endblock body %}
