{% extends "layout.html" %}
{% set current_page = "home" %}
{% set title = "OD-Database - Home" %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="text-monospace" style="font-size: 3.5rem;">OD-Database</h1>

            {% if stats and stats["total_size"] %}
                <p class="lead">{{ stats["total_count"] }} files totalling
                    ~{{ stats["total_size"] | filesizeformat }} from {{ stats["website_count"] }} website(s)</p>
            {% endif %}
            {% if current_websites %}
                <p>Currently indexing <code>{{ current_websites }}</code><span class="vim-caret">&nbsp;</span> </p>
            {% endif %}
            <p></p>
        </div>
    </div>
    <div class="container">

        <div class="card">
            <div class="card-header">Search</div>
            <div class="card-body">
                <form action="/search">

                    <div class="form-group">
                        <input class="form-control" name="q" id="q" placeholder="Query">
                    </div>

                    <input class="btn btn-primary btn-shadow" type="submit" value="Search">
                </form>
            </div>
        </div>

    </div>
{% endblock body %}
