{% extends "layout.html" %}
{% set current_page = "search" %}

{% set title = "OD-Database - Search" %}

{% block body %}
    <div class="container">

        <div class="card">
            <div class="card-header">Search</div>
            <div class="card-body">
                <form action="/search">

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <input class="form-control" name="q" id="q" placeholder="Full-text Query" value="{{ q }}">
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control" name="sort_order" title="Sort order">
                                <option disabled>Select sort order</option>
                                <option value="score" {{ "selected" if sort_order == "score" else "" }}>Relevance </option>
                                <option value="size_asc" {{ "selected" if sort_order == "size_asc" else "" }}>Size ascending </option>
                                <option value="size_dsc" {{ "selected" if sort_order == "size_dsc" else "" }}>Size descending</option>
                                <option value="date_asc" {{ "selected" if sort_order == "date_asc" else "" }}>Date ascending</option>
                                <option value="date_dsc" {{ "selected" if sort_order == "date_dsc" else "" }}>Date descending</option>
                                <option value="none" {{ "selected" if sort_order == "none" else "" }}>No order (faster)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <select class="form-control" name="per_page" title="Results per page">
                                <option disabled>Results per page</option>
                                {% for results in results_set %}
                                    <option{{ " selected" if per_page == results }}>{{ results }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <input class="btn btn-primary btn-shadow" type="submit" value="Search">

                </form>
            </div>
        </div>

        {% if results and results["hits"]["total"] > 0 %}
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>

                            {% for hit in results["hits"]["hits"] %}
                                {% set src = hit["_source"] %}
                                {% set hl_name = hit["highlight"]["name"][0] if "name" in hit["highlight"] else src["name"] %}
                                {% set hl_path = hit["highlight"]["path"][0] if "path" in hit["highlight"] else src["path"] %}

                                <tr>
                                    <td>
                                        {% set category = get_mime(src["ext"]) %}
                                        {% set url = src["website_url"] + src["path"] + "/" + src["name"] + ("." if src["ext"] != "" else "") + src["ext"] %}
                                        {# Preview #}
                                        {% if category == "image" %}
                                            <i class="fas fa-eye prev-icon" data-toggle="popover" tabindex="-1"
                                               data-content='<img class="prev-img" src="{{ url }}">'></i>
                                        {% endif %}
                                        {# File name & link #}
                                        <a href="{{ url }}"><span>{{ hl_name |safe }}{{ ("." if src["ext"] != "" else "") + src["ext"] }}</span></a>
                                        {# File type badge #}
                                        {% if category %}
                                            <span class="badge badge-pill {{ get_color(category ) }}">
                                                {{ src["ext"] }}
                                            </span>
                                        {% endif %}
                                        {# File path #}
                                        <div class="text-muted" title="{{ path }}" style="font-size: 10px;">
                                            <a title="See files from this website" href="/website/{{ src["website_id"] }}">{{ src["website_url"] }}</a>{{ hl_path|safe }}
                                        </div>
                                    </td>
                                    {# File size & date #}
                                    <td style="white-space: nowrap; vertical-align: top; text-align: right; font-size: 14px">
                                        <div>{{ src["size"] | filesizeformat if src["size"] >= 0 else "?" }}</div>
                                        <code>{{ src["mtime"] | date_format }}</code>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if results["hits"]["total"] > (p + 1) * per_page %}
                        <a href="/search?q={{ q }}&p={{ p + 1 }}&sort_order={{ sort_order }}&per_page={{ per_page }}"
                           class="btn btn-primary" style="float: right">Next</a>
                    {% endif %}
                    {% if p > 0 %}
                        <a href="/search?q={{ q }}&p={{ p - 1 }}&sort_order={{ sort_order }}&per_page={{ per_page }}"
                           class="btn btn-primary">Previous</a>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">No results</div>
            </div>
        {% endif %}


        <script>
            $('[data-toggle="popover"]').popover({
                trigger: "focus",
                delay: {"show": 0, "hide": 100},
                placement: "right",
                html: true
            });
        </script>
    </div>

{% endblock body %}
